In [25]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance

In [ ]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df = pd.read_csv("Gitignore-data-output-files/ecobici_ride_data-unified.csv", index_col=None, header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

ecobici_rides_df_test3.head()

# Continue data cleanup

- Caste date columns as datetime
- Create subsets of more manageable size

In [27]:
tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df['Fecha_Retiro'] = pd.to_datetime(ecobici_rides_df['Fecha_Retiro'])
ecobici_rides_df['Fecha_Arribo'] = pd.to_datetime(ecobici_rides_df['Fecha_Arribo'])

toc = timeit.default_timer() 
print(f'Processing time (in seconds): {round(toc - tic, 2)}')

ecobici_rides_df

Processing time (in seconds): 21.73

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
1,M,30.0,11,85.0,2010-02-16,12:53:29.950000,26,2010-02-16,13:22:23.737000
2,M,25.0,67,66.0,2010-02-14,12:41:04.480000,18,2010-02-16,10:24:36.550000
3,M,19.0,578,25.0,2010-02-16,22:40:27.770000,6,2010-02-16,22:46:54.603000
4,M,19.0,651,15.0,2010-02-16,21:32:38.827000,25,2010-02-16,21:40:02.347000
...,...,...,...,...,...,...,...,...,...
70703892,M,25.0,10848,183.0,2021-12-05,08:48:48,250,2021-12-05,09:02:29
70703893,M,45.0,10008,337.0,2021-12-05,08:54:46,321,2021-12-05,09:02:31
70703894,F,29.0,10266,295.0,2021-12-05,08:50:43,180,2021-12-05,09:02:39
70703895,F,30.0,9803,272.0,2021-12-05,08:22:29,317,2021-12-05,09:02:45
70703896,M,30.0,11984,225.0,2021-12-05,05:44:08,468,2021-12-05,05:52:58

In [28]:
ecobici_rides_df_test = ecobici_rides_df.dropna().copy()
ecobici_rides_df_test

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
1,M,30.0,11,85.0,2010-02-16,12:53:29.950000,26,2010-02-16,13:22:23.737000
2,M,25.0,67,66.0,2010-02-14,12:41:04.480000,18,2010-02-16,10:24:36.550000
3,M,19.0,578,25.0,2010-02-16,22:40:27.770000,6,2010-02-16,22:46:54.603000
4,M,19.0,651,15.0,2010-02-16,21:32:38.827000,25,2010-02-16,21:40:02.347000
...,...,...,...,...,...,...,...,...,...
70703892,M,25.0,10848,183.0,2021-12-05,08:48:48,250,2021-12-05,09:02:29
70703893,M,45.0,10008,337.0,2021-12-05,08:54:46,321,2021-12-05,09:02:31
70703894,F,29.0,10266,295.0,2021-12-05,08:50:43,180,2021-12-05,09:02:39
70703895,F,30.0,9803,272.0,2021-12-05,08:22:29,317,2021-12-05,09:02:45
70703896,M,30.0,11984,225.0,2021-12-05,05:44:08,468,2021-12-05,05:52:58

# Create manageable data sets

- oneInTen (10% the size of the original database. Takes every tenth row
- oneInHundred (1% the size of the original database. Takes every hundredth row

In [37]:
oneInTen = []
lngth = len(ecobici_rides_df_test)
for i in range(lngth):
    if i%10==0: oneInTen.append(i)
oneInTen

ecobici_rides_df_oneInTen = ecobici_rides_df_test.iloc[oneInTen, :].copy()

ecobici_rides_df_oneInTen

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
10,M,37.0,826,22.0,2010-02-16,14:06:40.480000,85,2010-02-16,14:23:13.567000
20,M,19.0,609,46.0,2010-02-17,19:28:16.993000,74,2010-02-17,19:57:50.003000
30,M,32.0,8,20.0,2010-02-17,15:14:54.327000,85,2010-02-17,18:01:36.490000
40,M,45.0,567,5.0,2010-02-18,19:09:02.767000,34,2010-02-18,19:26:17.387000
...,...,...,...,...,...,...,...,...,...
70703850,M,42.0,12255,165.0,2021-12-05,08:51:04,180,2021-12-05,09:01:24
70703860,M,50.0,8683,91.0,2021-12-05,08:32:32,455,2021-12-05,09:03:06
70703870,M,33.0,12414,400.0,2021-12-05,08:57:58,379,2021-12-05,09:03:32
70703880,M,34.0,7078,297.0,2021-12-05,08:51:37,313,2021-12-05,09:01:50
70703890,M,32.0,9349,271.0,2021-12-05,08:45:05,252,2021-12-05,09:02:21

In [45]:
oneInHundred = []
lngth = len(ecobici_rides_df_test)
for i in range(lngth):
    if i%100==0: oneInHundred.append(i)

ecobici_rides_df_oneInHundred = ecobici_rides_df_test.iloc[oneInHundred, :].copy()

ecobici_rides_df_oneInHundred

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
100,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000
200,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000
300,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000
400,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000
...,...,...,...,...,...,...,...,...,...
70703400,M,27.0,7221,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40
70703500,M,49.0,8699,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30
70703600,M,33.0,8805,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46
70703700,F,23.0,15286,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12
70703800,M,30.0,9028,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47

In [46]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_oneInTen.to_csv("Gitignore-data-output-files/ecobici_ride_data-oneInTen.csv", index=False) 

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

ecobici_rides_df_oneInTen.head()

Time (in seconds) to export unified CSV file: 101.06

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
10,M,37.0,826,22.0,2010-02-16,14:06:40.480000,85,2010-02-16,14:23:13.567000
20,M,19.0,609,46.0,2010-02-17,19:28:16.993000,74,2010-02-17,19:57:50.003000
30,M,32.0,8,20.0,2010-02-17,15:14:54.327000,85,2010-02-17,18:01:36.490000
40,M,45.0,567,5.0,2010-02-18,19:09:02.767000,34,2010-02-18,19:26:17.387000

In [44]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_oneInHundred.to_csv("dataset_export_files/ecobici_ride_data-oneInHundred.csv", index=False) 

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

ecobici_rides_df_oneInHundred.head()

Time (in seconds) to export unified CSV file: 13.66

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
100,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000
200,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000
300,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000
400,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000