In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance

In [3]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df = pd.read_csv("data_set_exports/ecobici_ride_data-oneInHundred.csv", index_col=None, header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

Time (in seconds) to export unified CSV file: 0.95

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
ecobici_rides_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707039 entries, 0 to 707038
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Genero_Usuario         707039 non-null  object
 1   Edad_Usuario           707039 non-null  float64
 2   Bici                   707039 non-null  object
 3   Ciclo_Estacion_Retiro  707039 non-null  float64
 4   Fecha_Retiro           707039 non-null  object
 5   Hora_Retiro            707039 non-null  object
 6   Ciclo_Estacion_Arribo  707039 non-null  int64
 7   Fecha_Arribo           707039 non-null  object
 8   Hora_Arribo            707039 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 48.5+ MB

In [5]:
# Caste date columns as datetime

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df['Fecha_Retiro'] = pd.to_datetime(ecobici_rides_df['Fecha_Retiro'])
ecobici_rides_df['Fecha_Arribo'] = pd.to_datetime(ecobici_rides_df['Fecha_Arribo'])

toc = timeit.default_timer() 
print(f'Processing time (in seconds): {round(toc - tic, 2)}')

ecobici_rides_df

Processing time (in seconds): 0.21

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000
...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47

In [11]:
ecobici_rides_df_test = ecobici_rides_df.dropna().copy()
ecobici_rides_df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707039 entries, 0 to 707038
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Genero_Usuario         707039 non-null  object
 1   Edad_Usuario           707039 non-null  float64
 2   Bici                   707039 non-null  object
 3   Ciclo_Estacion_Retiro  707039 non-null  float64
 4   Fecha_Retiro           707039 non-null  datetime64[ns]
 5   Hora_Retiro            707039 non-null  object
 6   Ciclo_Estacion_Arribo  707039 non-null  int64
 7   Fecha_Arribo           707039 non-null  datetime64[ns]
 8   Hora_Arribo            707039 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 53.9+ MB

In [12]:
tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test['Hora_Retiro'] = pd.to_datetime(ecobici_rides_df_test['Hora_Retiro']).dt.time
ecobici_rides_df_test['Hora_Arribo'] = pd.to_datetime(ecobici_rides_df_test['Hora_Arribo']).dt.time

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

ecobici_rides_df_test

Time (in seconds) to process data: 50.97

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000
...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47

In [13]:
ecobici_rides_df_test['Hora_Retiro']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707039 entries, 0 to 707038
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Genero_Usuario         707039 non-null  object
 1   Edad_Usuario           707039 non-null  float64
 2   Bici                   707039 non-null  object
 3   Ciclo_Estacion_Retiro  707039 non-null  float64
 4   Fecha_Retiro           707039 non-null  datetime64[ns]
 5   Hora_Retiro            707039 non-null  object
 6   Ciclo_Estacion_Arribo  707039 non-null  int64
 7   Fecha_Arribo           707039 non-null  datetime64[ns]
 8   Hora_Arribo            707039 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 53.9+ MB

In [9]:
tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test['Hora_Arribo'] = pd.to_datetime(ecobici_rides_df_test['Hora_Arribo']).dt.time


toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

ecobici_rides_df_test

Time (in seconds) to process data: 25.05

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000
...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47

In [ ]:
# Combine Fecha_Retiro and Hora_Retiro string and convert to datetime

tic = timeit.default_timer()                            # Monitor performance

for index, row in ecobici_rides_df.iterrows():
               
    try: 
        ecobici_rides_df_test['Hora_Retiro'] = pd.to_datetime(ecobici_rides_df_test['Hora_Retiro'])
        ecobici_rides_df_test['Hora_Arribo'] = pd.to_datetime(ecobici_rides_df_test['Hora_Arribo'])
        if index%1000000 == 0: print(f'We\'re up to {index}!')
               
    except: 
        print(f'ERROR: ROW {index} DROPPED')
        ecobici_rides_df_test.drop(index, inplace=True, axis=0)
                                          
toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

ecobici_rides_df_test

ERROR: ROW 0 DROPPED
ERROR: ROW 1 DROPPED
ERROR: ROW 2 DROPPED

# Continue exploration

- fdsafes
- fdsafd