In [70]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance
from datetime import datetime, date, time, timedelta

In [71]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df = pd.read_csv("dataset_export_files/ecobici_ride_data-oneInHundred.csv", index_col=None, header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

Time (in seconds) to export unified CSV file: 0.91

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [72]:
for col in ecobici_rides_df.columns:
    print(f'{col}, type: {type(ecobici_rides_df_test.loc[0, col])}')

Genero_Usuario, type: <class 'str'>
Edad_Usuario, type: <class 'numpy.float64'>
Bici, type: <class 'int'>
Ciclo_Estacion_Retiro, type: <class 'numpy.float64'>
Fecha_Retiro, type: <class 'str'>
Hora_Retiro, type: <class 'str'>
Ciclo_Estacion_Arribo, type: <class 'numpy.int64'>
Fecha_Arribo, type: <class 'str'>
Hora_Arribo, type: <class 'str'>

In [73]:
ecobici_rides_df_test = ecobici_rides_df.dropna().copy()
ecobici_rides_df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707039 entries, 0 to 707038
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Genero_Usuario         707039 non-null  object
 1   Edad_Usuario           707039 non-null  float64
 2   Bici                   707039 non-null  object
 3   Ciclo_Estacion_Retiro  707039 non-null  float64
 4   Fecha_Retiro           707039 non-null  object
 5   Hora_Retiro            707039 non-null  object
 6   Ciclo_Estacion_Arribo  707039 non-null  int64
 7   Fecha_Arribo           707039 non-null  object
 8   Hora_Arribo            707039 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 53.9+ MB

In [48]:
# Add Retiro_Timestamp column

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test["Retiro_Timestamp"] = np.nan

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to add column {round(toc - tic, 2)}')

ecobici_rides_df_test

Time (in seconds) to add column 0.01

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Retiro_Timestamp
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000,NaN
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000,NaN
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000,NaN
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000,NaN
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000,NaN
...,...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40,NaN
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30,NaN
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46,NaN
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12,NaN
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47,NaN

In [74]:
tic = timeit.default_timer()                            # Monitor performance

for index, row in ecobici_rides_df_test.iterrows():
               
    try: 
        start = row['Fecha_Retiro'] + ' ' + row['Hora_Retiro']
        end = row['Fecha_Arribo'] + ' ' + row['Hora_Arribo']
        
        ecobici_rides_df_test.at[index, 'Retiro_Timestamp'] = pd.to_datetime(start)
        ecobici_rides_df_test.at[index, 'Usage Timestamp'] = pd.to_datetime(end)
        
        if index % 100000 == 0: print(f'We\'re up to {index}!')
               
    except: 
        print(f'ERROR: ROW {index} DROPPED')
        ecobici_rides_df_test.drop(index, inplace=True, axis=0)
                                          
toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to process data: {round(toc - tic, 2)}')

ecobici_rides_df_test

We're up to 0!
We're up to 10000!
We're up to 20000!
We're up to 30000!
We're up to 40000!
We're up to 50000!
We're up to 60000!
We're up to 70000!
We're up to 80000!
We're up to 90000!
We're up to 100000!
We're up to 110000!
We're up to 120000!
We're up to 130000!
We're up to 140000!
We're up to 150000!
We're up to 160000!
We're up to 170000!
We're up to 180000!
We're up to 190000!
We're up to 200000!
We're up to 210000!
We're up to 220000!
We're up to 230000!
We're up to 240000!
We're up to 250000!
We're up to 260000!
We're up to 270000!
We're up to 280000!
We're up to 290000!
We're up to 300000!
We're up to 310000!
We're up to 320000!
We're up to 330000!
We're up to 340000!
We're up to 350000!
We're up to 360000!
We're up to 370000!
We're up to 380000!
We're up to 390000!
We're up to 400000!
We're up to 410000!
We're up to 420000!
We're up to 430000!
We're up to 440000!
We're up to 450000!
We're up to 460000!
We're up to 470000!
We're up to 480000!
We're up to 490000!
We're up to 500000!
We're up to 510000!
We're up to 520000!
We're up to 530000!
We're up to 540000!
We're up to 550000!
We're up to 560000!
We're up to 570000!
We're up to 580000!
We're up to 590000!
We're up to 600000!
We're up to 610000!
We're up to 620000!
We're up to 630000!
We're up to 640000!
We're up to 650000!
We're up to 660000!
We're up to 670000!
We're up to 680000!
We're up to 690000!
We're up to 700000!
Time (in seconds) to process data: 221.11

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Retiro_Timestamp,Arribo_Timestamp
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000,2010-02-16 12:42:32.160,2010-02-16 12:45:37.427
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000,2010-02-19 13:40:21.717,2010-02-19 13:52:30.700
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000,2010-02-21 14:03:57.590,2010-02-21 14:30:46.390
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000,2010-02-22 16:10:46.963,2010-02-22 16:17:10.470
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000,2010-02-23 18:37:00.897,2010-02-23 18:51:57.057
...,...,...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40,2021-12-05 09:16:19.000,2021-12-05 09:29:40.000
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30,2021-12-05 09:13:44.000,2021-12-05 09:24:30.000
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46,2021-12-05 08:43:43.000,2021-12-05 08:55:46.000
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12,2021-12-05 08:20:32.000,2021-12-05 08:54:12.000
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47,2021-12-05 08:58:05.000,2021-12-05 09:05:47.000

In [75]:
ecobici_rides_df_test['Duration'] = ecobici_rides_df_test['Arribo_Timestamp'] - ecobici_rides_df_test['Retiro_Timestamp']
ecobici_rides_df_test.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Retiro_Timestamp,Arribo_Timestamp,Duration
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000,2010-02-16 12:42:32.160,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000,2010-02-19 13:40:21.717,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000,2010-02-21 14:03:57.590,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000,2010-02-22 16:10:46.963,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000,2010-02-23 18:37:00.897,2010-02-23 18:51:57.057,0 days 00:14:56.160000

In [83]:
duration_average = ecobici_rides_df_test['Duration'].describe()
duration_average

count                       707039
mean     0 days 00:15:31.523614892
std      1 days 18:50:04.360558304
min            -324 days +00:21:25
25%         0 days 00:06:25.453500
50%         0 days 00:10:19.270000
75%                0 days 00:16:54
max              160 days 00:15:01
Name: Duration, dtype: object

In [88]:
ecobici_rides_df_test2 = ecobici_rides_df_test.copy()
ecobici_rides_df_test2

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Retiro_Timestamp,Arribo_Timestamp,Duration
0,M,28.0,69,85.0,2010-02-16,12:42:32.160000,85,2010-02-16,12:45:37.427000,2010-02-16 12:42:32.160,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,694,78.0,2010-02-19,13:40:21.717000,63,2010-02-19,13:52:30.700000,2010-02-19 13:40:21.717,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,35,85.0,2010-02-21,14:03:57.590000,23,2010-02-21,14:30:46.390000,2010-02-21 14:03:57.590,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,474,20.0,2010-02-22,16:10:46.963000,17,2010-02-22,16:17:10.470000,2010-02-22 16:10:46.963,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,490,74.0,2010-02-23,18:37:00.897000,46,2010-02-23,18:51:57.057000,2010-02-23 18:37:00.897,2010-02-23 18:51:57.057,0 days 00:14:56.160000
...,...,...,...,...,...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,2021-12-05,09:16:19,54,2021-12-05,09:29:40,2021-12-05 09:16:19.000,2021-12-05 09:29:40.000,0 days 00:13:21
707035,M,49.0,8699.0,158.0,2021-12-05,09:13:44,83,2021-12-05,09:24:30,2021-12-05 09:13:44.000,2021-12-05 09:24:30.000,0 days 00:10:46
707036,M,33.0,8805.0,417.0,2021-12-05,08:43:43,313,2021-12-05,08:55:46,2021-12-05 08:43:43.000,2021-12-05 08:55:46.000,0 days 00:12:03
707037,F,23.0,15286.0,467.0,2021-12-05,08:20:32,260,2021-12-05,08:54:12,2021-12-05 08:20:32.000,2021-12-05 08:54:12.000,0 days 00:33:40
707038,M,30.0,9028.0,174.0,2021-12-05,08:58:05,113,2021-12-05,09:05:47,2021-12-05 08:58:05.000,2021-12-05 09:05:47.000,0 days 00:07:42

In [89]:
# Drop 6 columns now that they are empty or of no use. 

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test2.drop(['Fecha_Retiro',
                            'Hora_Retiro',
                            'Fecha_Arribo',
                            'Hora_Arribo',
                            'Retiro_Timestamp'], 
                      inplace=True, axis=1)

toc = timeit.default_timer() 
print(f'Processing time (in seconds): {round(toc - tic, 2)}')

ecobici_rides_df_test2

Processing time (in seconds): 0.05

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Arribo_Timestamp,Duration
0,M,28.0,69,85.0,85,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,694,78.0,63,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,35,85.0,23,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,474,20.0,17,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,490,74.0,46,2010-02-23 18:51:57.057,0 days 00:14:56.160000
...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,54,2021-12-05 09:29:40.000,0 days 00:13:21
707035,M,49.0,8699.0,158.0,83,2021-12-05 09:24:30.000,0 days 00:10:46
707036,M,33.0,8805.0,417.0,313,2021-12-05 08:55:46.000,0 days 00:12:03
707037,F,23.0,15286.0,467.0,260,2021-12-05 08:54:12.000,0 days 00:33:40
707038,M,30.0,9028.0,174.0,113,2021-12-05 09:05:47.000,0 days 00:07:42

In [91]:
ecobici_rides_df_test2 = ecobici_rides_df_test2.rename(columns={"Arribo_Timestamp": "Usage_Timestamp"})
ecobici_rides_df_test2

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration
0,M,28.0,69,85.0,85,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,694,78.0,63,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,35,85.0,23,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,474,20.0,17,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,490,74.0,46,2010-02-23 18:51:57.057,0 days 00:14:56.160000
...,...,...,...,...,...,...,...
707034,M,27.0,7221.0,316.0,54,2021-12-05 09:29:40.000,0 days 00:13:21
707035,M,49.0,8699.0,158.0,83,2021-12-05 09:24:30.000,0 days 00:10:46
707036,M,33.0,8805.0,417.0,313,2021-12-05 08:55:46.000,0 days 00:12:03
707037,F,23.0,15286.0,467.0,260,2021-12-05 08:54:12.000,0 days 00:33:40
707038,M,30.0,9028.0,174.0,113,2021-12-05 09:05:47.000,0 days 00:07:42

In [93]:
# Drop 6 columns now that they are empty or of no use. 

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test2.drop(['Bici'], 
                      inplace=True, axis=1)

toc = timeit.default_timer() 
print(f'Processing time (in seconds): {round(toc - tic, 2)}')

ecobici_rides_df_test2

Processing time (in seconds): 0.04

,Genero_Usuario,Edad_Usuario,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration
0,M,28.0,85.0,85,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,78.0,63,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,85.0,23,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,20.0,17,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,74.0,46,2010-02-23 18:51:57.057,0 days 00:14:56.160000
...,...,...,...,...,...,...
707034,M,27.0,316.0,54,2021-12-05 09:29:40.000,0 days 00:13:21
707035,M,49.0,158.0,83,2021-12-05 09:24:30.000,0 days 00:10:46
707036,M,33.0,417.0,313,2021-12-05 08:55:46.000,0 days 00:12:03
707037,F,23.0,467.0,260,2021-12-05 08:54:12.000,0 days 00:33:40
707038,M,30.0,174.0,113,2021-12-05 09:05:47.000,0 days 00:07:42

In [94]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

ecobici_rides_df_test2.to_csv("dataset_export_files/ecobici_ride_data_for_sql_import.csv", index=False) 

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export CSV file: {round(toc - tic, 2)}')

ecobici_rides_df_test2.head()

Time (in seconds) to export CSV file: 9.52

,Genero_Usuario,Edad_Usuario,Ciclo_Estacion_Retiro,Ciclo_Estacion_Arribo,Usage_Timestamp,Duration
0,M,28.0,85.0,85,2010-02-16 12:45:37.427,0 days 00:03:05.267000
1,M,35.0,78.0,63,2010-02-19 13:52:30.700,0 days 00:12:08.983000
2,M,34.0,85.0,23,2010-02-21 14:30:46.390,0 days 00:26:48.800000
3,M,46.0,20.0,17,2010-02-22 16:17:10.470,0 days 00:06:23.507000
4,F,28.0,74.0,46,2010-02-23 18:51:57.057,0 days 00:14:56.160000

# Continue exploration

- fdsafes
- fdsafd